<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>QTM healthtech</title>
</head>

<body>
    <div class="container">
        <img src="/img/logo-qtm-correta.png" alt="QTM HealTech Logo" class="logo">
        <h1>Redirecionando de volta ao cadastro...</h1>
    </div>
    <script>
        function redirectToApp() {
            var urlCompleta =  "<%= deepLink %>";

            window.location.href = urlCompleta;

            // Adicionando um ouvinte de visibilidade para verificar se a mudança de URL ocorreu
            var hidden, visibilityChange;
            if (typeof document.hidden !== "undefined") { // Padrão
                hidden = "hidden";
                visibilityChange = "visibilitychange";
            } else if (typeof document.msHidden !== "undefined") {
                hidden = "msHidden";
                visibilityChange = "msvisibilitychange";
            } else if (typeof document.webkitHidden !== "undefined") {
                hidden = "webkitHidden";
                visibilityChange = "webkitvisibilitychange";
            }

            var handleVisibilityChange = function () {
                if (!document[hidden]) {
                    // Se a página se tornar visível, o redirecionamento não foi bem-sucedido
                    if (navigator.userAgent.match(/iPhone|iPad|iPod/i)) {
                        // É um dispositivo iOS
                        console.log("iOS");
                        window.location.href = "<%= appleStoreLink %>";
                    } else if (navigator.userAgent.match(/Android/i)) {
                        // É um dispositivo Android
                        window.location.href = "<%= playStoreLink %>";
                    } else {
                        // Outro sistema operacional
                        window.location.href = "<%= playStoreLink %>";
                    }
                }
            };

            document.addEventListener(visibilityChange, handleVisibilityChange, false);
        }

        window.onload = redirectToApp;
    </script>
</body>

</html>